.container {
text-align: center;
}

.line {
    border: solid 1px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.Title {
    font-size: 2.5em;
    font-family: 'Brush Script MT', cursive ;
    font-style: italic;
}

.Description {
    padding: 5px;
    font-size: 1.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(90, 90, 90);
}