.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.box {
    position: relative;
    background-color: white;
    padding: 1em 2em;
    border-radius: 1em;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

.shadow {
    box-shadow: 1px 1px 5px gray;
}

.close:active {
    box-shadow: none;
}