.Header {
    height: 85px;
    width: 100%;
    position: fixed;
    top:0%;
    margin: 0%;
    background-color: rgb(123, 248, 196);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    width: 250px;
    height: 100px;
}

.LogIn {
    max-width: 100%;
    padding-right: 3rem;
}